.error {
  color: red;
}
.showbold {
  font-weight: bold;
}
.show-green {
  color: green;
}
.show-orange {
  color: orange;
}
.show-red {
  color: red;
}

td,
th {
  padding: 10px 40px 10px 0px;
}

.page-wrapper {
  min-height: calc(100vh - 80px);
}

.page-content {
  padding: 100px 0 0 0;
}
/* main header */
.main-header {
  padding: 15px 0;
  background: #c5efff;
  position: fixed;
  z-index: 10;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: black;
  min-width: 190px;
  min-height: 71px;
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #1ab8fa;
}

/* top navigation */
.navbar {
  padding: 0;
  position: relative;
}

.navbar-toggle {
  display: none;
}

.topnav {
  overflow: hidden;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  list-style: none;
  margin: 0 0 0 10px;
}

.navbar-nav li.nav-item a.nav-link {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.navbar-nav li.nav-item a.active,
.navbar-nav li.nav-item a:hover {
  background: #1ebbfa;
  color: #fff;
}

/* footer */
.main-footer {
  padding: 25px 0;
  background: #c5efff;
  height: 80px;
}

.main-footer .copyright p {
  font-size: 14px;
  color: black;
  margin: 0;
  text-align: center;
}
